<p id="notice"><%= notice %></p>
<p>
	<img src="<%= @book.cover_art %>"/>
</p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Year:</b>
  <%= @book.year %>
</p>

<p>
  <b>ISBN:</b>
  <%= @book.ISBN %>
</p>

<%= link_to 'back to books', books_path %>